
<div class="container">
  <div class="row">
    <div class="col-3 mt-2" *ngFor="let u of respuesta">

        <div class="card" style="width: 18rem;">
          
            <div class="card-body">
              <h5 class="card-title">{{u.Nombre}}</h5>
              <p class="card-text">Genero: {{ u.Genero }}</p>
              <p class="card-text">Fecha Nacimiento: {{ u.FechaNacimiento }}</p>
              <p class="card-text">Carrera: {{ u.Carrera }}</p>
              <p class="card-text">Materias: {{ u.idMateria }}</p>
              <a href="#" class="btn btn-dark">Editar</a>
              <a href="#" class="btn btn-danger">Eliminar</a>
           </div>
      
      </div>
    </div>
  </div>
</div>


