
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Proyecto Front-end</a>
      <button type="button" class="btn btn-warning btn-lg float-rigth" routerLink='principal/registro'>Añadir Estudiante</button>
      <button type="button" class="btn btn-warning btn-lg float-right"routerLink='principal/notas'>Listado</button>
    </div>
  </nav>
</div>

<!--
<form class="col-12" (ngSubmit)="enviarPos()">
  <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" [(ngModel)]="usuario.nombre" class="form-control" name="nombre" placeholder="nombre">
  </div>
  <div class="mb-3">
      <label for="materia" class="form-label">Materia</label>
      <input type="text" [(ngModel)]="usuario.direccion" class="form-control" name="direccion" placeholder="direccion">
  </div>
  <div class="mb-3">
    <label for="nota1" class="form-label">Nota1</label>
    <input type="text" [(ngModel)]="usuario.direccion" class="form-control" name="direccion" placeholder="direccion">
</div>
<div class="mb-3">
  <label for="nota2" class="form-label">Nota2</label>
  <input type="text" [(ngModel)]="usuario.direccion" class="form-control" name="direccion" placeholder="direccion">
</div>
<div class="mb-3">
  <label for="nota3" class="form-label">Nota3</label>
  <input type="text" [(ngModel)]="usuario.direccion" class="form-control" name="direccion" placeholder="direccion">
</div>
  <button class="btn btn-primary">Enviar</button>
</form>
-->

<router-outlet></router-outlet>

