<!--
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LISTADO ESTUDIANTES</a>
      <button type="button" class="btn btn-warning btn-lg">Agregar Estudiante</button>
      <button type="button" class="btn btn-warning btn-lg">Agregar Notas</button>
    </div>
  </nav>
</div>
-->
<h1>Listado de Estudiantes</h1>
  <ul>
      <li><a routerLink="/principal/registro">Registro</a></li>
  </ul>

  <ul>
      <li><a routerLink="/principal/notas">Notas</a></li>
  </ul>

  <router-outlet></router-outlet>




