<div class="container">
    <div class="row">
      
      <div class="col-md-6">
      
        <div class="card mt-4">
          <form>
              <div class="mb-3 mt-4">
                <label for="exampleInputEmail1" class="form-label">INGRESAR NOMBRE DEL ESTUDIANTE</label>
                <input type="nombre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresar nombre">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">INGRESAR NOMBRE DE LA ASIGNATURA</label>
                <input type="nombre" class="form-control" id="exampleInputPassword1" placeholder="Ingresar nombre">
              </div>
           </form>


           <form>
            <div class="mb-3 mt-4">
              <label for="exampleInputEmail1" class="form-label">INGRESAR NOTA 1</label>
              <input type="nombre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresar nota">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">INGRESAR NOTA 2</label>
              <input type="nombre" class="form-control" id="exampleInputPassword1" placeholder="Ingresar nota">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">INGRESAR NOTA 3</label>
              <input type="nombre" class="form-control" id="exampleInputPassword1" placeholder="Ingresar nota">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
         </form>
        </div>
      
      </div>
    
  </div>
</div>

